/****************************/
/*          COMMON          */
/****************************/

body {
    margin: 0;
}

#head {
    background: black;
    border-bottom: 1px solid white;
    margin: 0;
}

#title {
    text-align: center;
    color: white;
    margin: 0;
    padding: 1%;
}

#navlist {
    background: white;
    text-align: center;
    padding: 1%;
    margin-bottom: 2%;
}

#navlist > ul > li {
    display: inline-block;
    padding: 1%;
    border: 1px solid;
}

@media (max-width: 600px) {
    
    #navlist > ul > li {
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        display: block;
    }
}

#navlist > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

table {
    text-align: center;
    margin: auto;
    border: 1px solid;
    margin-top: 1%;
}

table > thead {
    background: rgb(102, 102, 102);
}

table > tbody > tr > td > a {
    font-weight: bold;
}

table > thead > tr > td {
    color: white;
}

table > tbody > tr > td {
    border: 1px solid;
}

footer {
    text-align: center;
}