/****************************/
/*          COMMON          */
/****************************/

body {
    margin: 0;
    background: rgb(36, 36, 36);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    color: white;
    text-align: center;
}

#navlist {
    background: white;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

#navlist a {
    margin: 1%;
    text-decoration: none;
    color: white;
    background: rgb(36, 36, 36);
    padding: 1%;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
}

#navlist a:hover {
    transform: scale(1.1);
}

#navlist a:active {
    background: rgb(94, 94, 94);
}

#content {
    background: white;
    padding: 1%;
}

footer {
    background: rgb(36, 36, 36);
}

footer p {
    color: white;
    text-align: center;
}

footer a {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

@media (max-width: 600px) {
    
    #navlist a {
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
        display: block;
    }
}