.form-container {
    display: table;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;
    padding: 7%;
    background: radial-gradient(white, rgb(190, 190, 190));
}

.response-container {
    text-align: center;
}

#title2 {
    text-align: center;
}

#success-message {
    color: green;
    text-align: center;
    border: 1px solid green;
    background: lightgreen;
}

p {
    display: table-row;
}

label {
    display: table-cell;
    margin: 5%;
}

input {
    display: table-cell;
    margin: 5%;
}

#confirm {
    text-align: center;
}


