h2 {
    text-align: center;
}

.form {
    display: table;
    margin: auto;
    text-align: center;
    border: 1px solid;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: radial-gradient(white, lightblue);
}

p {
    display: table-row;
}

label {
    display: table-cell;
    margin: 5%;
}

select, input {
    display: table-cell;
    margin: 5%;
}

#confirm {
    text-align: center;
}

#results {
    text-align: center;
    margin: auto;
    border: 1px solid;
    margin-top: 1%;
}

#results > thead {
    background: lightblue;
}

a {
    text-decoration: none;
    color: black;
}

#results > tbody > tr > td > a {
    font-weight: bold;
}

#results > tbody > tr > td {
    border: 1px solid;
}


