#tabella {
    text-align: center;
    margin: auto;
    border: 1px solid;
}

a {
    text-decoration: none;
    color: black;
}

#tabella > tbody > tr > td > a {
    font-weight: bold;
}

#tabella > tbody > tr > td {
    border: 1px solid;
}

.page-buttons {
    margin-top: 1% ;
    text-align: center;
}

.page-buttons > a{
    border: 1px solid;
    border-radius: 5px;
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}


