h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#page-buttons {
    margin-top: 1% ;
    text-align: center;
    padding-bottom: 1%;
}

#page-buttons > button {
    margin-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

@media (max-width: 600px) {
    
    .EventId-cell, .Author-cell .Profondita-cell, .MagType-cell, .Latitudine-cell, .Longitudine-cell {
        display: none;
    }
}

form {
    margin: auto;
    text-align: center;
    padding: 1%;
}
